# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local State
data/state.json
data/state.json.bak
